modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Check Python Version"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test Tkinter"

[[workflows.workflow]]
name = "Check Python Version"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python --version"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Test Tkinter"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main2.py"

[workflows.workflow.metadata]
outputType = "vnc"

[nix]
channel = "stable-25_05"
packages = ["dbus", "expat", "fontconfig", "freetype", "glib", "glibcLocales", "libGL", "libdrm", "libgbm", "libglvnd", "libpulseaudio", "libxcrypt", "libxcrypt-legacy", "libxkbcommon", "nspr", "nss", "wayland", "xorg.libX11", "xorg.libXScrnSaver", "xorg.libXcomposite", "xorg.libXcursor", "xorg.libXdamage", "xorg.libXext", "xorg.libXi", "xorg.libXinerama", "xorg.libXrandr", "xorg.libXrender", "xorg.libXtst", "xorg.libxcb", "xorg.xcbutil", "xorg.xcbutilcursor", "xorg.xcbutilimage", "xorg.xcbutilkeysyms", "xorg.xcbutilrenderutil", "xorg.xcbutilwm", "zstd"]
